<div id="video-container">
    <div class="hero">
        <h1>Renew Video</h1>

        <p>Haven't you ever wanted to do some amazing video chat? Now's your chance!</p>

    </div>

    <div id="video-chat-container">
        <div id="buttons">
            <button class="btn btn--raised" id="cameraBtn">
                <i class="icons btn__icon" aria-hidden="true">perm_camera_mic</i>
                <span class="btn__label">Open camera & microphone</span>
            </button>
            <button class="btn btn--raised" disabled id="createBtn">
                <i class="icons btn__icon" aria-hidden="true">group_add</i>
                <span class="btn__label">Create room</span>
            </button>
            <button class="btn btn--raised" disabled id="joinBtn">
                <i class="icons btn__icon" aria-hidden="true">group</i>
                <span class="btn__label">Join room</span>
            </button>
            <button class="btn btn--raised" disabled id="hangupBtn">
                <i class="icons btn__icon" aria-hidden="true">close</i>
                <span class="btn__label">Hangup</span>
            </button>
        </div>
        <div>
            <span id="currentRoom"></span>
        </div>
        <div id="videos">
            <video id="localVideo" muted autoplay playsinline></video>
            <video id="remoteVideo" autoplay playsinline></video>
        </div>
        <div class="dialog"
            id="room-dialog"
            role="alertdialog"
            aria-modal="true"
            aria-labelledby="my-dialog-title"
            aria-describedby="my-dialog-content">
            <div class="dialog__container">
                <div class="dialog__surface">
                    <h2 class="dialog__title" id="my-dialog-title">Join room</h2>
                    <div class="dialog__content" id="my-dialog-content">
                        Enter ID for room to join:
                        <div class="mdc-text-field">
                            <input type="text" id="room-id" class="mdc-text-field__input">
                            <label class="mdc-floating-label" for="my-text-field">Room ID</label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                    </div>
                    <footer class="dialog__actions">
                        <button type="button" class="btn dialog__button" data-dialog-action="no">
                            <span class="btn__label">Cancel</span>
                        </button>
                        <button id="confirmJoinBtn" type="button" class="btn dialog__button"
                                data-dialog-action="yes">
                            <span class="btn__label">Join</span>
                        </button>
                    </footer>
                </div>
            </div>
            <div class="dialog__scrim"></div>
    </div>
</div>